@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kalivo";
    src: url("../Kalivo.ttf") format("truetype");
  }

  @font-face {
    font-family: "Elegante";
    src: url("../Elegante.ttf") format("truetype");
  }
}
